.nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ca420cf3;
    height: 80px;

}

.titulo,
.navegacion,
.derecha {
    flex: 1;
    text-align: center;
}

.titulo {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-left: 20px; /* Ajusta según tus necesidades */
}

.navegacion ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navegacion li {
    padding: 0 20px; /* Ajusta según tus necesidades */
}

.logo {
    display: block;
    width: 100px; /* Ajusta según tus necesidades */
    height: auto;
    flex: 1;
    text-align: center;
}

